<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # No redirigir archivos o directorios existentes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redirigir todas las solicitudes a index.html
  RewriteRule ^ index.html [L]
</IfModule>