---
/** Este componente solo dibuja el fondo de olas animadas.
 *  No tiene props por el momento; simplemente importa y coloca donde lo necesites.
 */
---
<div class="wave-background fixed inset-0">
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1426 922"
         preserveAspectRatio="xMidYMid slice"
         class="wave-svg">
      <defs>
        <linearGradient id="lg" x1="0" y1="0" x2="1" y2="0">
          <stop offset="0" stop-color="#ff72a6"/>
          <stop offset="1" stop-color="#dbdee1"/>
        </linearGradient>
      </defs>
  
      <!-- 5 capas con duraciones, desfases y easing distintos pero comenzando todas a la vez -->
      {/** CAPA 1 **/}
      <path fill="url(#lg)" opacity="0.4">
        <animate attributeName="d"
                 dur="26s" begin="0s" repeatCount="indefinite"
                 keyTimes="0;0.1;0.35;0.6;0.9;1"
                 calcMode="spline"
                 keySplines=".4 .1 .6 .9; .3 .0 .7 1; .5 .1 .5 .9; .2 .2 .8 .8; .4 .0 .6 1"
                 values="
                   M0,0 L0,629.316 Q142.6,636.796 285.2,605.201 T570.4,433.389 T855.6,441.127 T1140.8,370.018 T1426,289.44 L1426,0 Z;
                   M0,0 L0,547.44 Q142.6,554.218 285.2,529.458 T570.4,546.334 T855.6,473.813 T1140.8,330.841 T1426,364.044 L1426,0 Z;
                   M0,0 L0,647.607 Q142.6,578.44 285.2,546.152 T570.4,454.281 T855.6,507.12 T1140.8,339.19 T1426,303.363 L1426,0 Z;
                   M0,0 L0,609.307 Q142.6,577.354 285.2,532.768 T570.4,447.576 T855.6,473.246 T1140.8,339.272 T1426,262.268 L1426,0 Z;
                   M0,0 L0,632.024 Q142.6,578.056 285.2,542.91  T570.4,443.087 T855.6,434.628 T1140.8,406.16 T1426,396.33  L1426,0 Z;
                   M0,0 L0,629.316 Q142.6,636.796 285.2,605.201 T570.4,433.389 T855.6,441.127 T1140.8,370.018 T1426,289.44 L1426,0 Z
                 "/>
      </path>
  
      {/** CAPA 2 **/}
      <path fill="url(#lg)" opacity="0.4">
        <animate attributeName="d"
                 dur="24s" begin="0s" repeatCount="indefinite"
                 keyTimes="0;0.12;0.33;0.6;0.88;1"
                 calcMode="spline"
                 keySplines=".3 .1 .6 .9; .4 .0 .6 1; .5 .2 .5 .8; .2 .3 .8 .7; .4 .0 .6 1"
                 values="
                   M0,0 L0,547.44 Q142.6,554.218 285.2,529.458 T570.4,546.334 T855.6,473.813 T1140.8,330.841 T1426,364.044 L1426,0 Z;
                   M0,0 L0,647.607 Q142.6,578.44 285.2,546.152 T570.4,454.281 T855.6,507.12 T1140.8,339.19 T1426,303.363 L1426,0 Z;
                   M0,0 L0,609.307 Q142.6,577.354 285.2,532.768 T570.4,447.576 T855.6,473.246 T1140.8,339.272 T1426,262.268 L1426,0 Z;
                   M0,0 L0,632.024 Q142.6,578.056 285.2,542.91  T570.4,443.087 T855.6,434.628 T1140.8,406.16 T1426,396.33  L1426,0 Z;
                   M0,0 L0,629.316 Q142.6,636.796 285.2,605.201 T570.4,433.389 T855.6,441.127 T1140.8,370.018 T1426,289.44 L1426,0 Z;
                   M0,0 L0,547.44 Q142.6,554.218 285.2,529.458 T570.4,546.334 T855.6,473.813 T1140.8,330.841 T1426,364.044 L1426,0 Z
                 "/>
      </path>
  
      {/** CAPA 3 **/}
      <path fill="url(#lg)" opacity="0.4">
        <animate attributeName="d"
                 dur="22s" begin="0s" repeatCount="indefinite"
                 keyTimes="0;0.1;0.3;0.7;0.92;1"
                 calcMode="spline"
                 keySplines=".5 .0 .5 1; .3 .2 .7 .8; .4 .0 .6 1; .2 .1 .8 .9; .4 .0 .6 1"
                 values="
                   M0,0 L0,647.607 Q142.6,578.44 285.2,546.152 T570.4,454.281 T855.6,507.12 T1140.8,339.19 T1426,303.363 L1426,0 Z;
                   M0,0 L0,609.307 Q142.6,577.354 285.2,532.768 T570.4,447.576 T855.6,473.246 T1140.8,339.272 T1426,262.268 L1426,0 Z;
                   M0,0 L0,632.024 Q142.6,578.056 285.2,542.91  T570.4,443.087 T855.6,434.628 T1140.8,406.16 T1426,396.33  L1426,0 Z;
                   M0,0 L0,629.316 Q142.6,636.796 285.2,605.201 T570.4,433.389 T855.6,441.127 T1140.8,370.018 T1426,289.44 L1426,0 Z;
                   M0,0 L0,547.44 Q142.6,554.218 285.2,529.458 T570.4,546.334 T855.6,473.813 T1140.8,330.841 T1426,364.044 L1426,0 Z;
                   M0,0 L0,647.607 Q142.6,578.44 285.2,546.152 T570.4,454.281 T855.6,507.12 T1140.8,339.19 T1426,303.363 L1426,0 Z
                 "/>
      </path>
  
      {/** CAPA 4 **/}
      <path fill="url(#lg)" opacity="0.4">
        <animate attributeName="d"
                 dur="28s" begin="0s" repeatCount="indefinite"
                 keyTimes="0;0.15;0.35;0.65;0.85;1"
                 calcMode="spline"
                 keySplines=".4 .1 .6 .9; .3 .0 .7 1; .5 .1 .5 .9; .2 .2 .8 .8; .4 .0 .6 1"
                 values="
                   M0,0 L0,609.307 Q142.6,577.354 285.2,532.768 T570.4,447.576 T855.6,473.246 T1140.8,339.272 T1426,262.268 L1426,0 Z;
                   M0,0 L0,632.024 Q142.6,578.056 285.2,542.91  T570.4,443.087 T855.6,434.628 T1140.8,406.16 T1426,396.33  L1426,0 Z;
                   M0,0 L0,629.316 Q142.6,636.796 285.2,605.201 T570.4,433.389 T855.6,441.127 T1140.8,370.018 T1426,289.44 L1426,0 Z;
                   M0,0 L0,547.44 Q142.6,554.218 285.2,529.458 T570.4,546.334 T855.6,473.813 T1140.8,330.841 T1426,364.044 L1426,0 Z;
                   M0,0 L0,647.607 Q142.6,578.44 285.2,546.152 T570.4,454.281 T855.6,507.12 T1140.8,339.19 T1426,303.363 L1426,0 Z;
                   M0,0 L0,609.307 Q142.6,577.354 285.2,532.768 T570.4,447.576 T855.6,473.246 T1140.8,339.272 T1426,262.268 L1426,0 Z
                 "/>
      </path>
  
      {/** CAPA 5 **/}
      <path fill="url(#lg)" opacity="0.4">
        <animate attributeName="d"
                 dur="18s" begin="0s" repeatCount="indefinite"
                 keyTimes="0;0.05;0.25;0.6;0.9;1"
                 calcMode="spline"
                 keySplines=".3 .1 .8 .9; .5 .0 .5 1; .4 .2 .6 .8; .2 .3 .7 .7; .4 .0 .6 1"
                 values="
                   M0,0 L0,632.024 Q142.6,578.056 285.2,542.91  T570.4,443.087 T855.6,434.628 T1140.8,406.16 T1426,396.33  L1426,0 Z;
                   M0,0 L0,629.316 Q142.6,636.796 285.2,605.201 T570.4,433.389 T855.6,441.127 T1140.8,370.018 T1426,289.44 L1426,0 Z;
                   M0,0 L0,547.44 Q142.6,554.218 285.2,529.458 T570.4,546.334 T855.6,473.813 T1140.8,330.841 T1426,364.044 L1426,0 Z;
                   M0,0 L0,647.607 Q142.6,578.44 285.2,546.152 T570.4,454.281 T855.6,507.12 T1140.8,339.19 T1426,303.363 L1426,0 Z;
                   M0,0 L0,609.307 Q142.6,577.354 285.2,532.768 T570.4,447.576 T855.6,473.246 T1140.8,339.272 T1426,262.268 L1426,0 Z;
                   M0,0 L0,632.024 Q142.6,578.056 285.2,542.91  T570.4,443.087 T855.6,434.628 T1140.8,406.16 T1426,396.33  L1426,0 Z
                 "/>
      </path>
    </svg>
  </div>
  
  <div class="top-wave-background">
    <!-- Existing SVG or content -->
  </div>
  
  <style>
    .wave-background {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none;
      overflow: hidden;
      opacity : 1;
    }
    
    .wave-svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
    
    /* Remove the unused div */
    .top-wave-background {
      display: none;
    }
  </style>
  